<nav class="nav" style="height: 50px; text-decoration: underline;">
	<a href="/posts/new">
		MAKE A NEW POST
	</a>
</nav>


<section>
	<% @posts.each do |post| %>

		<article>
			
			<div class="posts_authors">
				<a href="/authors/<%= post.author.id %>">
					<img src="<%= post.author.image_url %>" class="portrait">
				</a>	
				<p>
					Posted By: <a href="/authors/<%= post.author.id %>"><%= post.author.name %></a> 
				</p>
				<p>
					Posted On : <%= post.created_at %>
				</p>
			</div>

			<div class="posts_posts">
				<a href="/posts/<%= post.id %>">	
					<h2>
						<%= post.title %>
					</h2>
				</a>

				<h4>
					<%= post.content %>
				</h4>

				<h6>		
					Post's tags : <br>
					<% post.tags.each do |tag| %>
							<a href="/tags/<%= tag.id %>">
								<%= tag.name %> 
							</a>
							<br>
					<% end %>						
				</h6>

			</div>

		</article>

		<hr>

	<% end %>
</section>	

